workDir = '/tmp/nf_work'

profiles {

    standard {
        process {
            executor = 'local'
            withLabel: 'low' {
                memory=1.GB
                cpus=1
                time=6.h
            }
            withLabel: 'med' {
                memory=2.GB
                cpus=2
            }
            withLabel: 'high' {
                memory=6.GB
                cpus=4
            }
        }
    }


    docker {
        docker.enabled = true
        docker.runOptions = "-u \$(id -u):\$(id -g) --entrypoint ''"    // Fix to ignore entrypoints from containers
        process {
            withName: 'get_data'    { container = 'aleitocu/bsm2_get_data:02.00' }
            withName: 'sewer_model' { container = 'aleitocu/bsm2_sewer_model:01.00' }
            withName: 'ffe_model'   { container = 'aleitocu/bsm2_ffe_model:01.00' }
        }
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "${launchDir}/.apptainer_cache"
    }
}

